<!-- Action Bar -->
<div class="action_bar clearfix my2 p3">
    <div class="lg-col-10 col-12 col clearfix">

        <div class="flex flex-wrap">
            <div class="flex-auto lg-mt0 mt2">
                <div class="left mr2">
                    <img src="/assets/img/graph_2016.png" alt="" width="100px">
                </div>
                 <div class="ml2 mt2 overflow-hidden">
                   <div class="h2 bold">2016</div>
                   <p class="h5">120 Students and 8 Firms</p>
                 </div>
            </div>

            <div class="flex-auto lg-mt0 mt2">
                <div class="left mr2">
                    <img src="/assets/img/graph_2017.png" alt="" width="100px">
                </div>
                 <div class="ml2 mt2 overflow-hidden">
                   <div class="h2 bold">2017</div>
                   <p class="h5">180 Students and 12 Firms</p>
                 </div>
            </div>

            <div class="flex-auto lg-mt0 mt2">
                <div class="left mr2">
                    <img src="/assets/img/graph_2018.png" alt="" width="100px">
                </div>
                 <div class="ml2 mt2 overflow-hidden">
                   <div class="h2 bold">2018</div>
                   <p class="h5">225 Students and 24 Firms</p>
                 </div>
            </div>
        </div>
    </div>
    <div class="lg-col-2 col-12 col clearfix lg-mt0 mt2">
        <a href="#" class="button block center mb1 mt1 p1 black">Donate</a>
        <a href="#" class="button block center p1 black">Get Invovled</a>
    </div>
</div>
<!-- /Action Bar -->
