{% assign currentYear = site.time | date: "%Y" %}
{% assign currentMonth = site.time | date: "%B" %}
{% for post in site.posts %}

    {% assign postYear = post.date | date: "%Y" %}
    {% assign postMonth = post.date  | date: "%B" %}

    {% if forloop.first %}
    <ol> {{ postYear}}
        <ul>
            <ol> {{ postMonth }}
                <ul>
    {% endif %}

    {% if (postYear == currentYear and postMonth == currentMonth) or forloop.first %}
        <ol><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></ol>
    {% endif %}

    {% if postYear == currentYear and postMonth != currentMonth %}
        </ul></ol>
        <ol> {{ postMonth }}
            <ul>
                <ol><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></ol>
    {% endif %}

    {% if postYear != currentYear %}
        </ul></ol></ul></ol>
            <ol> {{ postYear}}
                <ul>
                    <ol> {{ postMonth }}
                        <ul>
                            <ol><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></ol>
    {% endif %}
    {% assign currentYear = postYear %}
    {% assign currentMonth = postMonth %}
{% endfor %}
