<footer class="site-footer p4">

    <div class="clearfix">

        <div class="col-12 lg-col-5 col px2">
            Greenwood Project is a registered 501c3 organization.
            <br/>
            Your Donation is Tax Deductible
        </div>

        <div class="col-12 lg-col-5 col px2">
           P.O Box A3865
           <br/>
           Chicago, IL 60690
        </div>

        <div class="col-12 lg-col-2 col right px2">
           Social media icons
        </div>

    </div>

</footer>
