<footer class="site-footer bg-grey lg-p4 p2">

    <div class="clearfix">

        <div class="col-12 lg-col-5 col px2 py2 lg-py0">
            Greenwood Project is a registered 501c3 organization.
            <br/>
            Your Donation is Tax Deductible
        </div>

        <div class="col-12 lg-col-5 col px2 py2 lg-py0">
           P.O Box A3865
           <br/>
           Chicago, IL 60690
        </div>

        <div class="social-media-icons col-12 lg-col-2 col right px2 py2 lg-py0 flex">
           <a class="linkedin" href="https://www.linkedin.com/company/10815891/">
               <img src="/assets/img/icons/social_linkedin.svg" alt="">
           </a>
           <a href="https://www.instagram.com/greenwoodprochi/">
               <img src="/assets/img/icons/social_instagram.svg" alt="">
           </a>
           <a href="https://twitter.com/greenwoodprochi">
               <img src="/assets/img/icons/social_twitter.svg" alt="">
           </a>
           <a href="https://www.facebook.com/greenwoodprochi/">
               <img src="/assets/img/icons/social_facebook.svg" alt="">
           </a>
        </div>

    </div>

</footer>
