<!--
<div class="sm-col-11 mx-auto clearfix lg-p3 bg-white" class="sm-show">
    <nav class="clearfix bg-white">
      <div class="sm-col">
        <a href="/" class="">
            <img src="/assets/img/logo.png" alt="" width="265px">
        </a>
      </div>
      <div class="sm-col-right pt2 bold">
        <a href="/" class="px2">Our Programs</a>
        <a href="/about" class="px2">About Us</a>
        <a href="/" class="px2">Get Involved</a>
        <a href="/blog" class="px2">Blog</a>
        <a href="mailto:info@greenwoodproject.org" class="px2">Contact</a>
      </div>
    </nav>
</div>
 -->

<div class="nav">
  <div class="nav-header">
    <a href="/" class="">
        <img src="/assets/img/logo.png" alt="" width="265px">
    </a>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links lg-mt1">
    <a class="programs-link px2">Our Programs</a>
    <div class="dropdown">
        <a href="/internships">Internships</a>
        <a href="/summer-financial-institute">Summer Financial Institute</a>
        <a href="/summer-fintech-institute">Summer FinTech Institute</a>
        <a href="/women-of-wall-street">Women of Wall Street</a>
        <a href="/greenwood-online-academy-of-learning">Online Academy of Learning</a>
    </div>
    <a href="/applications">Apply Now</a>
    <a href="/about" class="px2">About Us</a>
    <a href="/get-involved" class="px2">Get Involved</a>
    <a href="/blog" class="px2">Blog</a>
    <a href="/news" class="px2">News</a>
    <a href="https://secure.lglforms.com/form_engine/s/Ss_NgTcUa76as8hExKjSuA" class="px2">Contact</a>
  </div>
</div>


