<div class="sm-col-11 mx-auto clearfix lg-p3 bg-white">
    <nav class="clearfix bg-white">
      <div class="sm-col">
        <a href="/" class="">
            <img src="/assets/img/logo.png" alt="" width="245px">
        </a>
      </div>
      <div class="sm-col-right pt1 bold">
        <a href="/" class="px2">Our Programs</a>
        <a href="/about" class="px2">About Us</a>
        <a href="/" class="px2">Get Involved</a>
        <a href="/blog" class="px2">Blog</a>
        <a href="/" class="px2">Contact</a>
      </div>
    </nav>
</div>
