<div id="background-wrapper"></div>

<div id="open-modal" class="modal-window">
  <div>
    <header class="flex">
        <div class="donate-modal-title bold flex-auto flex-align-middle align-left">Donate Now</div>
        <a href="#modal-close" title="Close" class="modal-close flex-auto flex-align-middle">Close</a>
    </header>
    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/greenwood-project" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
  </div>
</div>
