/* Home Page */

.action_bar {
    .button {
        background: #FFFFFF;
        border: 1px solid #E9E9E9;
        box-shadow: 0 5px 6px 0 rgba(241,241,241,0.50);
        border-radius: 4px;
    }
}

.little_about_us {
    .green-bg {
        background: #074B46;
    }

    p {
        line-height: 24px;
    }

    .button {
        background: #074B46;
        border: 1px solid #0F645D;
        border-radius: 4px;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        padding: 10px 20px;
        margin-top: 20px;
        display: inline-block;
    }

    .flexCol {
        flex: 0 0 50%;
        min-height: 300px;
        background-size: cover;
    }
}

.newsletter_subscribe {
    background-color: #fafafa;

    .input {
        border: 1px solid #064b46;
        background: #064b4608;
        padding: 22px;
        font-size: 16px;
        width: 100%;
    }

    .submit-btn {
        border: 1px solid #0F645D;
        font-size: 15px;
        letter-spacing: 0px;
        padding: 11px 20px;
        display: inline-block;
        border-left: none;
    }
}

/* Additional Basscss Styles */

@media (min-width: 40em) {
  .sm-left-align {
    text-align: left;
  }
  .sm-center {
    text-align: center;
  }
  .sm-right-align {
    text-align: right;
  }
  .sm-justify {
    text-align: justify;
  }
}

@media (min-width: 52em) {
  .md-left-align {
    text-align: left;
  }
  .md-center {
    text-align: center;
  }
  .md-right-align {
    text-align: right;
  }
  .md-justify {
    text-align: justify;
  }
}

@media (min-width: 64em) {
  .lg-left-align {
    text-align: left;
  }
  .lg-center {
    text-align: center;
  }
  .lg-right-align {
    text-align: right;
  }
  .lg-justify {
    text-align: justify;
  }
}

@media (min-width: 64em) {
  .lg-h00 {
    font-size: 4rem;
  }
  .lg-h0 {
    font-size: 3rem;
  }
  .lg-h1 {
    font-size: 2rem;
  }
  .lg-h2 {
    font-size: 1.5rem;
  }
  .lg-h3 {
    font-size: 1.24rem;
  }
  .lg-h4 {
    font-size: 1rem;
  }
  .lg-h5 {
    font-size: .875rem;
  }
  .lg-h6 {
    font-size: .75rem;
  }
}

.p0  { padding: 0 }
.pt0 { padding-top: 0 }
.pr0 { padding-right: 0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left: 0 }
.px0 { padding-left: 0; padding-right:  0 }
.py0 { padding-top: 0;  padding-bottom: 0 }

.p1  { padding:        var(--space-1) }
.pt1 { padding-top:    var(--space-1) }
.pr1 { padding-right:  var(--space-1) }
.pb1 { padding-bottom: var(--space-1) }
.pl1 { padding-left:   var(--space-1) }
.py1 { padding-top:    var(--space-1); padding-bottom: var(--space-1) }
.px1 { padding-left:   var(--space-1); padding-right:  var(--space-1) }

.p2  { padding:        var(--space-2) }
.pt2 { padding-top:    var(--space-2) }
.pr2 { padding-right:  var(--space-2) }
.pb2 { padding-bottom: var(--space-2) }
.pl2 { padding-left:   var(--space-2) }
.py2 { padding-top:    var(--space-2); padding-bottom: var(--space-2) }
.px2 { padding-left:   var(--space-2); padding-right:  var(--space-2) }

.p3  { padding:        var(--space-3) }
.pt3 { padding-top:    var(--space-3) }
.pr3 { padding-right:  var(--space-3) }
.pb3 { padding-bottom: var(--space-3) }
.pl3 { padding-left:   var(--space-3) }
.py3 { padding-top:    var(--space-3); padding-bottom: var(--space-3) }
.px3 { padding-left:   var(--space-3); padding-right:  var(--space-3) }

.p4  { padding:        var(--space-4) }
.pt4 { padding-top:    var(--space-4) }
.pr4 { padding-right:  var(--space-4) }
.pb4 { padding-bottom: var(--space-4) }
.pl4 { padding-left:   var(--space-4) }
.py4 { padding-top:    var(--space-4); padding-bottom: var(--space-4) }
.px4 { padding-left:   var(--space-4); padding-right:  var(--space-4) }

:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}
