<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">

        {% include header.html %}

        <div class="title bg-green white lg-py2 h3 bold">
            <div class="col-11 lg-col-10 mx-auto lg-py0 py2">
                {{ page.title }}
            </div>
        </div>

        <div class="bg-grey inner-page py2">
            <div class="col-11 lg-col-10 mx-auto lg-py3">
                {{ content }}
            </div>
        </div>

        <div class="about_us">
            <div class="bg-white px4 py2">
                <div class="col-12 mx-auto clearfix">
                    {% for item in page.about-blurb %}
                    <div class="lg-col-4 col-12 col center lg-p3">
                        <img src="{{ item.path }}" alt="" class="mb3">
                        <div class="h3 bold mb0">{{ item.title }}</div>
                        <p class="mt1">{{ item.text }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="about-hero sm-show">
                <div class="yellow-box bg-gold lg-col-7 col-10 center mx-auto p3">
                    <div class="headline">Check out stories and updates from our students, partners and supporters</div>
                    <a href="/blog" class="button">Read Our Blog</a>
                </div>
            </div>

            <div class="bg-grey lg-p4">

                    <div class="h3 bold lg-mb3 mb1 mt2 lg-mt0 pt2 pt0--lg center">Meet Our Board</div>

                    <div class="flex flex-wrap mxn1">
                        {% for item in page.people %}
                        <div class="col-12 lg-col-4 px1 center mb3">
                            <div class="content p3 thumbnail">
                                <div class="avatar">
                                    <img src="{{ item.path }}" alt="" width="115px" class="mb3">
                                </div>
                                <div class="bold">{{ item.name }}</div>
                                <p>
                                    {{ item.bio }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="h3 bold lg-mb3 mb1 mt2 lg-mt3 center">Meet Our Team</div>

                    <div class="flex flex-wrap mxn1">
                        {% for item in page.team %}
                        <div class="col-12 lg-col-4 px1 center mb3">
                            <div class="content p3 thumbnail">
                                <div class="avatar">
                                    <img src="{{ item.path }}" alt="" width="115px" class="mb3">
                                </div>
                                <div class="bold">{{ item.name }}</div>
                                <p>
                                    {{ item.bio }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                </div>

        </div>

        {% include action-bar.html %}

        {% include footer.html %}

    </div>

  </body>

</html>

