---
layout: default
---

<div class="pop-up">
    <a href="https://donorbox.org/the-greenwood-centennial-scholars-fund">
        <div class="modal-content">
            We are launching the Greenwood Centennial Scholars Fund to create 100 Greenwood Project Scholars in the 100th Anniversary year of the Tulsa Race Massacre which destroyed the Greenwood neighborhood in that city in 1921. Consider a gift today at the link <a href="https://donorbox.org/the-greenwood-centennial-scholars-fund" style="text-decoration: underline">here</a>.
        </div>
        <a href="#" class="close-popup">CLOSE</a>
    </a>
</div>

<div class=" hero clearfix p3 py4" style="height: 400px">


  <div class="lg-col-6 col-10 center mx-auto m4">

    <div class="lg-h2 bg-yellow yellow-box py1 px2 h2 bold sm-show lg-m4">Introducing Black and Latinx Students To The Financial Industry</div>

  </div>
</div>
<div class="bg-yellow p3 center h3 bold sm-hide">Introducing Black and Latinx Students To The Financial Industry</div>


<div class="home sm-col-12 mx-auto clearfix">

    <!-- Our Partners -->
    <div class="our_partners mt3">
        <div class="center mb2 grey">A few of our participating firms include</div>


        <div class="flex flex-wrap">
          {% for item in page.partners %}
          <div class="flex-vertical-middle flex-auto center">
              <img src="{{ item.path }}" alt="" width="{{ item.width }}" class="mx-auto">
          </div>
          {% endfor %}
        </div>
    </div>
    <!-- /Our Partners -->

    <!-- Action Bar -->
    {% include action-bar.html %}
    <!-- /Action Bar -->

</div>

<!-- Little About Us -->
<div class="little_about_us lg-flex">

    <div class="flexCol">

        <div class="green-bg lg-px4 lg-py3 p3 white">
            <h2>Greenwood Project's Impact</h2>
            <p class="h4">Since its inception in 2016, Greenwood Project has exposed high achieving students from Chicago's south and west sides to career opportunities within the financial industry. The number of participating firms helping to support this initiative has grown each year and Greenwood students continue to be converted from interns to full-time employees.
            </p>
            <a href="/about" class="learn-more lg-mb1">Learn More</a>
        </div>

        <div class="newsletter_subscribe lg-px4 lg-py3 p3">
            <div class="gold-underline mb2 bold">Join our mailing list, never miss an update!</div>

            <div class="form">
                <form action="https://greenwoodproject.us17.list-manage.com/subscribe/post?u=9059593646edd4ba75c38520a&amp;id=ff7beb1017" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
               <div class="flex-auto">
                <div class="left" style="width: 65%">
                    <input type="email" value="" name="EMAIL" class="input" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                 <div class="overflow-hidden">
                   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9059593646edd4ba75c38520a_ff7beb1017" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit-btn"></div>
                 </div>
                </form>
            </div>

            </div>
        </div>
    </div>
    <div class="flexCol" style="background-image: url(assets/img/little-about-us.jpg);">
        &nbsp;
    </div>

</div>
<!-- /Little About Us -->

<!-- Our Programs -->
<div class="our_programs lg-p4">
    <h3 class="mb3 ml2 gold-underline">Our Programs</h3>

    <div class="clearfix">

        <div class="lg-col-4 col-12 col px2 pb2">
            <a href="/internships" class="thumbnail block bg-white">
                <div class="image-frame"  style="background-image: url(/assets/img/get-involved/internships1.jpg)">
                </div>
                <div class="p3">
                    <div class="bold">Internships</div>
                    <p class="h5">Greenwood students have gained real-world experience, networking connections, and unmatched exposure to the financial industry</p>
                    <b class="h5">Learn More</b>
                </div>
            </a>
        </div>

        <div class="lg-col-4 col-12 col px2 pb2">
            <a href="/women-of-wall-street" class="thumbnail block bg-white">
                <div class="image-frame" style="background-image: url(/assets/img/get-involved/wow1.jpg)">

                </div>
                <div class="p3">
                    <div class="bold">Women of Wall Street</div>
                    <p class="h5">The finance industry is male-dominated, so we launched a Women of Wall Street (W.O.W.) speaking series to show our female students as many success stories as possible</p>
                    <b class="h5">Learn More</b>
                </div>
            </a>
        </div>

        <div class="lg-col-4 col-12 col px2 pb2">
            <a href="/summer-financial-institute" class="thumbnail block bg-white">
                <div class="image-frame"  style="background-image: url(/assets/img/get-involved/summer1.jpg)">
                </div>
                <div class="p3">
                    <div class="bold">The Summer Financial Institute</div>
                    <p class="h5">Students are immersed in an intensive 6-week program. The curriculum includes financial literacy, educational field trips, simulated trading, soft skills training, leadership and professional development workshops, and tons of exposure to the financial services and tech industry.</p>
                    <b class="h5">Learn More</b>
                </div>
            </a>
        </div>
    </div>



    <div class="clearfix mt3">
        <div class="lg-col-4 col-12 col px2 pb2">
            <a href="/internships" class="thumbnail block bg-white">
                <div class="image-frame"  style="background-image: url(/assets/img/get-involved/wallst1.jpg)">
                </div>
                <div class="p3">
                    <div class="bold">Wall St. Tour</div>
                    <p class="h5">This tour gives students some amazing exposure and experience, as they network with the CEO/President and employees of firms such as NYSE, Nasdaq, CME Group, Goldman Sachs, Bloomberg, UBS, and others.</p>
                    <b class="h5">Learn More</b>
                </div>
            </a>
        </div>


        <div class="lg-col-4 col-12 col px2 pb2">
            <a href="mailto:info@greenwoodproject.org" class="thumbnail block bg-white center pt4">
                <div class="p3 contact_us">
                    <div class="h3 bold">Get Involved</div>
                    <p>Please contact us to find out how you can support our mission.</p>
                    <div class="btn">Contact Us</div>
                    <div class="half-circle"></div>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- /Our Programs -->

<!-- Infographic -->
<div class="infographic clearfix lg-px4 lg-py2 p3">
    <div class="lg-mt3 lg-mb4 h3 bold mb3">Connecting minority students to the financial industry</div>
    <div class="lg-my3 clearfix">
        <div class="col-12 lg-col-4 col mb3 lg-mb0 mt1">
            <span class="bold">Thousands of minority students</span> are disconnected from stable career pathways in the financial industry
        </div>
        <div class="col-12 lg-col-4 col center relative mb2 lg-mb0">
            <div class="pill">
                Greenwood Project
            </div>
            <div class="hr">&nbsp;</div>
        </div>
        <div class="col-12 lg-col-4 col mt1">
           Greenwood Project works with companies to connect talent with opportunity
        </div>
    </div>
</div>
<!-- /Infographic -->

<!-- Testimonials -->
<div class="testimonials white py4">
    <div class="col-12 lg-col-11 mx-auto clearfix">
        <div class="col-12 lg-col-6 col px4 lg-mb0 mb3">
            <p class="grey">"Ultimately, my experience this summer has opened my eyes to the bevy of careers within financial services and specifically confirmed my plans to pursue trading. I am greatly appreciative of both Greenwood and RCG for making this internship as seamless as possible."</p>
            <div class="flex-auto lg-mt3 mt2">
                <div class="left mr2">
                    <img src="assets/img/graph_2016.png" alt="" width="60px">
                </div>
                 <div class="ml2 overflow-hidden">
                   <div class="h5 bold gold mt1">
                        <a class="yellow" href="/posts/my-summer-with-greenwood/">
                            Hayes Bynum
                        </a>
                    </div>
                   <div class="h5">College Scholar</div>
                 </div>
            </div>
        </div>
        <div class="col-12 lg-col-6 col px4">
            <p class="grey">"This experience introduced me to various opportunities that I didn’t know existed prior to this summer, and that is the mission of Greenwood Project. Introducing academically talented youth like myself to the financial industry and the innumerable amount of opportunities there are."</p>
            <div class="flex-auto lg-mt3 mt2">
                <div class="left mr2">
                    <img src="assets/img/graph_2016.png" alt="" width="60px">
                </div>
                 <div class="ml2 overflow-hidden">
                   <div class="h5 bold gold mt1">
                        <a class="yellow" href="/posts/my-journey-with-greenwood/">
                            Yusuf Aljabri
                        </a>
                    </div>
                   <div class="h5">HS Scholar</div>
                 </div>
            </div>
        </div>
    </div>
</div>
<!-- /Testimonials -->
