<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">

        {% include header.html %}

        <div class="title bg-green white lg-py2 h3 bold">
            <div class="col-11 lg-col-10 mx-auto">
                Blog
            </div>
        </div>

        {% if page.feature-img %}
        <div id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
            {{ page.title }}
        </div>
        {% endif %}

        <div class="bg-grey inner-page">
            <div class="col-11 lg-col-10 mx-auto lg-py2">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

    </div>

  </body>

</html>
