---
layout: inner
---

<div class="lunch_and_learn">
    <div class="clearfix">
        <div class="col-12 lg-col-7 col lg-pr3">
            {{ content }}
        </div>
        <div class="col-12 lg-col-5 col">

           <div class="clearfix">
                {% for item in page.images %}
                <div class="lg-col-6 col-12 col px2 pb3">
                <div class="thumbnail block bg-white">
                   <div class="image-frame" style="background-image: url({{item.path}})">

                   </div>
                   <div class="p1 center">
                       <div class="bold green">{{ item.name }}</div>
                   </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
